.users {
    padding: 16px 72px 16.63px 40px;
    border-bottom: 1px solid var(--secondary-color);
    position: fixed;
    display: flex;
    justify-content: space-between;
    gap: 0 100px;
    top: 0;
    right: 0;
    width: calc(100% - 310px);
    z-index: 100;
    background-color: var(--page-background);
}

.users__all {
    flex-grow: 1;
}

.users__all::-webkit-scrollbar {
    display: none;
}


.users__item {
    max-width: 60.64px;
    max-height: 60.64px;
}

.users__button {
    width: 60.64px;
    height: 60.64px;
    background-color: var(--background-color);
    border-radius: 50%;
    flex-shrink: 0;
    font-size: 28px;
}


.users__button.active {
    border: #FFD079 1px solid;
}

.users__main {
    flex-shrink: 0;
}

.users__photo {
    width: 60px;
    height: 60px;
    border-radius: 50%;

}

@media (max-width:1350px) {
    .users {
        width: 100%;
        padding: 16px 20px;
    }
}

@media (max-width:768px) {
    .users__item {
        max-width: 40.64px;
        max-height: 40.64px;
    }

    .users__button {
        width: 40.64px;
        height: 40.64px;
        font-size: 18px;
    }

}